.formblock{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    background-color: #f7f7f7;
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
